body{
    margin: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(120, 100%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(120, 100%, 15%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
    operator-btn{
        width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 60%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

    }
    operator-btn:hover
    {
        background-color:hsl(0, 60%, 30%);
    }
    operator-btn:active{
    background-btn:hsl(0,60%, 20%);
    }

button:hover{
    background-color: hsl(120, 100%, 20%);
}

button:active{
    background-color: hsl(120, 100%, 30%);
}
